body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
}

#header{
    overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header-right {
    float: right;
    
    
}

.logo a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.logo {
    font-size: 20px;
    font-weight: bold;
  }

#vagnode{
    display: flex;
    justify-content:baseline;
    background-image: url(c:/Users/CPC/Downloads/bodysoap/photo-1494861895304-fb272971c078.jpg);
    padding-right: 300px;
}
.main-section{
    width: 100%;
    max-width: 300px;
    margin:  auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.vagnode-2{
    width: 100%;
    max-width: 300px;
    margin: 20% auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

button{
    background-color: #D2CBCB;
    border-radius: 10px;
    width: 50px;

}

button:hover{
    background-color: azure;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }

 .footer a{
    padding: 20px;
  width: 20px;
  font-size: 50px;
  
  text-align: center;
  text-decoration: none;
 }

 .members{
    text-align: center;
    font-size: 20px;
 }