body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
}
a{
    color: #000000;
    text-decoration: none;
}

/* header */

header{
    display: flex;
    background-color: #fcfcfc;
    justify-content:center ;

}

.logo {
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
}


/* Section 1 */
#dove-section{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ;
    margin: 50px 30px;
}

.container:hover{
    transform: scale(1.03);
    transition: all 0.2s;
}

.dove-content{
    padding: 16px;
}
.dove-content h3{
    font-size: 28px;
    margin-bottom: 10px;
    
}
.dove-content p{
    color: #666;
    font-size: 15px;
    text-align: left;
}

.btn-dove {
    border-radius: 20px;
    width: 50px;
    height: 28px;
    border: 1px black solid;
    color: black;
    background-color: #ffffff;
}

.btn-dove:hover{
    background-color:#6b6969;
}

/* Section 2 */
#vemoro{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
}
.nike-content h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: bold;
}

.btn-vome{    
    background-color: #000000;
    width: 90px;
    font-weight: bold;
    border-radius: 20px;
    height: 28px;
    border: none;
}

.btn-vome:hover{
    background-color: #6b6969;
    transform: scale(1.03);
    transition: 0.03s ease;

}

.btn-vome a{
    color: white;
}
/* Section 3 */

#information{
    display:flex;
    background-color: azure;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.liquid-soap{
   padding: 30px;
}

.liquid-soap:hover img{
    transform: scale(1.03);
    transition: 0.2s ease;
}


.liquid-button{
    background-color: bisque;
    width: 90px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.liquid-button:hover{
    background-color:  azure;
    transform: scale(0.9);
    transition: 0.2s ease;
}

/* Section 4 */
#shampoo{
    display:flex;
    background-color: azure;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* Section 4 */
.tresa{
    padding: 40px 40px;

}

.tresa:hover img{
    transform: scale(1.03);
    transition: 0.2s ease;
}

.btn-condi{
    width: 50px;
    height: 28px;
    background-color: bisque;
    border: 1px solid #000000;
    border-radius: 20px;
}
.btn-condi:hover{
    background-color:azure;
    transform: scale(0.90);
    transition: 0.2s ease;
}

/* Section 5 */
#shoes{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Helvetica;
}

.shoe-content h1{
    font-size: 50px;
    font-weight: bold;
    margin-top:0px ;
    margin-bottom: 0px;
}
.shoe-content p{
    font-size: 15px;
}
.btn-zion{
    width:  90px;
    height: 28px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
}

.btn-zion:hover{
    transform: scale(1.03);
    transition: 0.1s ease;
    background-color: #6b6969;
}
.btn-zion a{
    color: white;
}


/* footer */
.social {
    color: black;
    justify-content: center;
    display: flex;
 }

.social a{
    padding: 20px;
    font-size: 50px;
    text-decoration: none;
 }

 /* members */
 #pic{ 
    display: flex;
    justify-content:center ;
    padding: 10px;
}

.info{
    display: flex;
    justify-content: center;

}

address{
    font-style: normal;
}


#nn{
    text-align: left;
}

#pp{
    text-align: right;
}